.about-page {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.about-page article,
.about-page aside {
  padding: 1.5rem;
  margin: 3rem auto;
  width: fit-content;
}

.about-page h1,
.about-page h3 {
  margin: 1rem 0;
}

.about-page aside {
  display: flex;
  gap: 5rem;
}

.creator-profile {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.3);
  text-align: center;
}

.creator-profile img {
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .about-page aside {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}
