.search-bar {
  text-align: center;
  min-width: 356px;
  display: flex;
  width: -webkit-fill-available;
}
.search-bar input[type='text'],
.search-bar button[type='submit'] {
  padding: 0.5rem;
  padding-left: 20px;
  border-radius: 20px;
  border-width: 1px;
}

.search-bar input[type='text'] {
  min-width: 60%;
}

.search-bar button[type='submit'] {
  width: 3.5rem;
  height: 34px;
  margin-left: 0.5rem;
  background-color: #f8f8f8;
  transition: all ease 200ms;
  position: relative;
  right: 60px;
  border-radius: 0 20px 20px 0;
  z-index: 2;
}

.searchIcon {
  position: relative;
  right: 10px;
  bottom: 3px;
  cursor: pointer;
 
}

.search-bar button[type='submit']:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

main {
  display: flex;
  width: -webkit-fill-available;
}
