.videoDiv {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-bottom: 10vh;
}

.youtubeVideo {
    margin-top: 50px;
    display: flex;
    width: fit-content;
    height: auto;
    justify-content: center;
}
