.commentsDiv {
    width: 100%;
}

#commentsForm {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}

.addComment {
    border: none;
    border-bottom: 1px solid #909090;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    transition: all ease-in 0.4s;       
}

.addComment:focus {
    transition: 0.4s;
    border: none;
    outline: none;
}

.addComment ~ .focus-border {
    position: relative;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.4s;
}

.addComment:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.addComment,
#commenter {
    cursor: pointer;
}
.commentButtonsDiv {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;    
}

#commenter {
    border: none;
    border-bottom: 1px solid #909090;
    width: 30%;
}

#commenter:focus {
    outline: none;
    border-bottom: 2px solid black
}


#submitComment, 
.cancelButton {
    width: fit-content;
    border-radius: 40px;
    padding: 5px 10px;
    border: none;
    margin-left: 20px;
}

.cancelButton:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.commentsSectionDiv {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    height: 100px;
    padding-top: 10px;
}

.commentsSection {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.userIcon {
   grid-column: 1 / 2; 
   grid-row: 1 / 3;
}

.commentsSection-commenter {
    font-weight: 600;
    margin-bottom: 10px;
}

.commentsSection-text {
    list-style: none;
    grid-column: 2;
}

.commentsActionsToggle {
  
}

.commentsActionsModalDiv {
    grid-column: 3;
    grid-row: 1;
}

.actionsDiv {
    display: grid;
    grid-template-columns: 20px 50px;
    height: 40px;
    width: fit-content;
    row-gap: 5px;
    border: none;
    box-shadow: 2px 2px 4px grey;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    position: relative;
}

.actionEdit,
.actionDelete {
    display: contents;
    cursor: pointer;
}