.nav-wrapper {
  height: 60px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-wrapper > *,
.nav-wrapper nav ul > * {
  margin: 0 1rem;
}

.nav-wrapper a {
  color: white;
  text-decoration: none;
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.nav-wrapper li {
  list-style-type: none;
  font-size: 1.3rem;
}

.nav-wrapper nav {
  display: flex;
  flex: 1 1 auto;
}

.nav-wrapper .search-li {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-start;
}

.nav-link:hover {
  text-decoration: underline;
}
